@import 'prelude-init.less';

.addMember-toggle {
    cursor: pointer;
    -moz-box-sizing: content-box;
    background: linear-gradient(to bottom, rgb(241, 241, 241), rgb(223, 223, 223) 70%, rgb(218, 218, 218)) repeat scroll 0 0 rgb(223, 223, 223);
    border-color: rgb(206, 206, 206) rgb(186, 186, 186) rgb(168, 168, 168);
    border-radius: 3px 3px 2px 2px;
    border-style: solid;
    border-width: 1px 1px 0;
    box-shadow: 0 1px rgb(253, 253, 253) inset, 0 0 0 1px rgb(234, 234, 234) inset, 0 1px rgb(168, 168, 168), 0 3px rgb(187, 187, 187), 0 4px rgb(168, 168, 168), 0 5px 2px rgba(0, 0, 0, 0.25);
    color: rgb(85, 85, 85);
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    margin: 0 0 5px;
    outline: 0 none;
    padding: 0 12px;
    text-decoration: none;
    text-shadow: 0 1px white;
    vertical-align: baseline;
    &:hover {
        background: none repeat scroll 0 0 rgb(223, 223, 223);
        border-top-color: rgb(201, 201, 201);
    }

    &:active, &.addMember-active {
        background: none repeat scroll 0 0 rgb(223, 223, 223);
        border-top-color: rgb(201, 201, 201);
        border-radius: 3px 3px 3px 3px;
        border-width: 0;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset, 0 1px 1px rgba(0, 0, 0, 0.4) inset, 0 1px white;
        margin-bottom: 0;
        padding: 1px 13px 0;
        vertical-align: -5px;
    }
}

.addMember-list {
    list-style: none;
    margin-left: 0;
    border: 1px solid gray;
}

.addMember-dropdown {
    width: 200px;
    display: none;
    position: absolute;
}
.addMember-listItem {
    padding: 4px 10px;
    &:hover {
        background-color: rgb(236, 242, 247);
    }
    &:active, &.addMember-selected {
        background-color: rgb(50, 185, 226);
    }
}

.addMember-augment {
    display: inline-block;
    &.addMember-active {
        .addMember-toggle {
            background: none repeat scroll 0 0 rgb(223, 223, 223);
            border-top-color: rgb(201, 201, 201);
            border-radius: 3px 3px 3px 3px;
            border-width: 0;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset, 0 1px 1px rgba(0, 0, 0, 0.4) inset, 0 1px white;
            margin-bottom: 0;
            padding: 1px 13px 0;
            vertical-align: -5px;
        }
        .addMember-dropdown {
            display: block;
        }
    }
}

.addMember-items {
    list-style: none;
    margin-left: 0;
    display: inline-block;
}

.addMember-item {
    display: inline-block;
    border: 1px solid gray;
    padding: 4px 14px;
    position: relative;
}

.addMember-remove {
    position: absolute;
    line-height: 1;
    right: 2px;
    top: 0px;
    cursor: pointer;
}