.car-trigger-button {
  cursor: pointer;
  -moz-box-sizing: content-box;
  background: linear-gradient(to bottom, #f1f1f1, #dfdfdf 70%, #dadada) repeat scroll 0 0 #dfdfdf;
  border-color: #cecece #bababa #a8a8a8;
  border-radius: 3px 3px 2px 2px;
  border-style: solid;
  border-width: 1px 1px 0;
  box-shadow: 0 1px #fdfdfd inset, 0 0 0 1px #eaeaea inset, 0 1px #a8a8a8, 0 3px #bbbbbb, 0 4px #a8a8a8, 0 5px 2px rgba(0, 0, 0, 0.25);
  color: #555555;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  height: 28px;
  line-height: 28px;
  margin: 0 0 5px;
  outline: 0 none;
  padding: 0 12px;
  text-decoration: none;
  text-shadow: 0 1px white;
  vertical-align: baseline;
}
.car-trigger-button:hover {
  background: none repeat scroll 0 0 #dfdfdf;
  border-top-color: #c9c9c9;
}
.car-trigger-button:active,
.car-trigger-button.car-active {
  background: none repeat scroll 0 0 #dfdfdf;
  border-top-color: #c9c9c9;
  border-radius: 3px 3px 3px 3px;
  border-width: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset, 0 1px 1px rgba(0, 0, 0, 0.4) inset, 0 1px #ffffff;
  margin-bottom: 0;
  padding: 1px 13px 0;
  vertical-align: -5px;
}
.car-list {
  list-style: none;
  margin-left: 0;
  border: 1px solid gray;
}
.car-trigger-dropdown {
  width: 200px;
  display: none;
  position: absolute;
  background-color: white;
  z-index: 99;
}
.car-list-item {
  padding: 4px 10px;
}
.car-list-item:hover {
  background-color: #ecf2f7;
}
.car-list-item:active,
.car-list-item.car-selected {
  background-color: #32b9e2;
}
.car-trigger {
  display: inline-block;
}
.car-trigger.car-active .car-trigger-button {
  background: none repeat scroll 0 0 #dfdfdf;
  border-top-color: #c9c9c9;
  border-radius: 3px 3px 3px 3px;
  border-width: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset, 0 1px 1px rgba(0, 0, 0, 0.4) inset, 0 1px #ffffff;
  margin-bottom: 0;
  padding: 1px 13px 0;
  vertical-align: -5px;
}
.car-trigger.car-active .car-trigger-dropdown {
  display: block;
}
.car-items {
  list-style: none;
  margin-left: 0;
  display: inline-block;
}
.car-item {
  display: inline-block;
  border: 1px solid gray;
  padding: 4px 14px;
  position: relative;
}
.car-remove {
  position: absolute;
  line-height: 1;
  right: 2px;
  top: 0px;
  cursor: pointer;
}
.addMember-trigger-button {
  background: url("../images/img-add-user.png") no-repeat scroll center center / 100% 100% transparent;
  border: 3px solid #ffffff;
  border-radius: 1000px 1000px 1000px 1000px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: inline-block;
  height: 34px;
  width: 34px;
}
.addMember-trigger-button:active,
.addMember-trigger-button.addMember-active {
  background-image: url("../images/img-add-user-hover.png");
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}
.addMember-list {
  list-style: none;
  margin-left: 0;
  max-height: 300px;
  overflow: auto;
}
.addMember-trigger-dropdown {
  width: 200px;
  display: none;
  position: absolute;
  border: 1px solid gray;
  background-color: white;
  z-index: 99;
}
.addMember-search {
  width: 100%;
}
.addMember-list-item {
  padding: 4px 10px;
}
.addMember-list-item:hover {
  background-color: #ecf2f7;
}
.addMember-list-item:active,
.addMember-list-item.addMember-selected {
  background-color: #32b9e2;
}
.addMember-trigger {
  display: inline-block;
}
.addMember-trigger.addMember-active .addMember-trigger-button {
  background-image: url("../images/img-add-user-hover.png");
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}
.addMember-trigger.addMember-active .addMember-trigger-dropdown {
  display: block;
}
.addMember-items {
  list-style: none;
  margin-left: 0;
  display: inline-block;
}
.addMember-item {
  display: inline-block;
  border: 1px solid gray;
  padding: 4px 14px;
  position: relative;
}
.addMember-remove {
  position: absolute;
  line-height: 1;
  right: 2px;
  top: 0px;
  cursor: pointer;
}
.avatarSmall {
  border: 3px solid #ffffff;
  border-radius: 1000px 1000px 1000px 1000px;
  box-shadow: 0 3px 2px 0 rgba(89, 89, 89, 0.08);
  height: 34px;
  width: 34px;
}
.addMember-remove {
  background-image: url("../images/icon-avatarRemove-small.png");
  height: 15px;
  line-height: 15px;
  right: 0;
  top: -2px;
  width: 15px;
}
.addMember-remove:hover {
  background-image: url("../images/icon-avatarRemove-small-hover.png");
}
